<h1 mat-dialog-title>{{ data.name }} <img class="slika_profila" [src]="data?.picture" alt="avatar"></h1>
<mat-divider></mat-divider>
<br>
<span>Email: {{ data.email }}</span>
<br>
<span>&nbsp;&nbsp;</span>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" i18n>Zapri</button>
</div>

