<img class="velika_slika" src="./assets/logo/logo_transparent.png"/>

<svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
    <circle cx="170" cy="170" r="160" stroke="#B71C1C"/>
    <circle cx="170" cy="170" r="135" stroke="white"/>
    <circle cx="170" cy="170" r="110" stroke="#B71C1C"/>
    <circle cx="170" cy="170" r="85" stroke="#424242"/>
</svg>



