<mat-toolbar color="accent">
  <span i18n>Uredi projekt</span>
</mat-toolbar>
<mat-divider></mat-divider>
<br>
  <form [formGroup]="projektForm" (ngSubmit)="onFormSubmit(projektForm.value)">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label i18n>Naziv</mat-label>
      <input matInput i18n-placeholder placeholder="Naziv" formControlName="naziv"
             >
      <mat-error>
        <span *ngIf="!projektForm.get('naziv').valid && projektForm.get('naziv').touched" i18n>Prosim vnesite naziv</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label i18n>Zgornja meja dolga</mat-label>
      <input matInput class="example-right-align" type="number" i18n-placeholder placeholder="Zgornja meja dolga" formControlName="zgornja_meja_dolga"
             >
      <span matSuffix>{{tip_ocene}}</span>
      <mat-error>
        <span *ngIf="!projektForm.get('zgornja_meja_dolga').valid && projektForm.get('zgornja_meja_dolga').touched" i18n>Prosim vnesite zgornjo mejo dolga</span>
      </mat-error>
    </mat-form-field>
    <mat-icon i18n-matTooltip matTooltip="Vpišite največjo dovoljeno količino dolga" matTooltipPosition="after">help</mat-icon>
    <mat-divider></mat-divider>
    <br>
    <div class="button-row">
      <button type="submit" [disabled]="!projektForm.valid" mat-raised-button color="accent" i18n-matTooltip matTooltip="Shrani projekt" matTooltipPosition="left">
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </form>
<br>
<button mat-button (click)="onNoClick()" i18n>Zapri</button>

