<mat-toolbar color="accent">
  <span i18n>Podrobnosti dolga</span>
</mat-toolbar>
<div class="button-row" i18n-matTooltip matTooltip="Dolgovi" matTooltipPosition="before">
  <a mat-raised-button color="accent" (click)="backClicked()">
    <mat-icon>list</mat-icon>
  </a>
</div>
<div class="flex-container-vertical-main mat-elevation-z5">
  <div>
    <div class="flex-container-vertical-head mat-elevation-z5">
      <div style="color: black;
           overflow: hidden;
            text-overflow: ellipsis;
                   white-space: nowrap;"><b>{{dolg.naziv}}</b></div>
      <div style="font-size: 20px; color: darkgrey">{{dolg.datum | date}}</div>
    </div>
  </div>
  <div>
    <div class="flex-container-horizontal-name-date">
      <div><b i18n>Naziv:</b>&nbsp;{{dolg.naziv}}</div>
      <div>
        <mat-icon>date_range</mat-icon>
        <br>{{dolg.datum | date}}
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div>
    <div class="flex-container-horizontal-data-members">
      <div>
        <div class="flex-container-vertical-data">
          <div *ngIf="dolg.vzrok != null"><b i18n>Vzrok:</b>&nbsp;{{dolg.vzrok}}</div>
          <div *ngIf="dolg.tip != null"><b i18n>Tip:</b>&nbsp;{{dolg.tip}}</div>
          <div>
            <mat-icon>notes</mat-icon>&nbsp;<b i18n>Opis:</b>&nbsp;{{dolg.opis}}
          </div>
          <div>
            <mat-icon>short_text</mat-icon>&nbsp;<b i18n>Obseg:</b>&nbsp;{{dolg.obseg}}
          </div>
          <div *ngIf="tip_ocene == '€'">
          <mat-icon>show_chart</mat-icon>&nbsp;<b i18n>Ocena:</b>
          &nbsp;{{dolg.ocena}}&nbsp;{{tip_ocene}}
        </div>
          <div *ngIf="tip_ocene == 'število dni' || tip_ocene == 'number of days'">
            <mat-icon>show_chart</mat-icon>&nbsp;
            <b i18n>Ocena:</b>&nbsp;{{dolg.ocena}}&nbsp;<span *ngIf="dolg.ocena == 1 " i18n>dan</span>
            <span *ngIf="dolg.ocena != 1 " i18n>dni</span>
          </div>
        </div>
      </div>
      <div>
        <div class="flex-container-vertical-members">
          <div *ngIf="dolg.podtip != null"><b i18n>Podtip:</b>&nbsp;{{dolg.podtip}}</div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div>
            <mat-icon>format_list_numbered</mat-icon>&nbsp;<b i18n>Kritičnost:</b>&nbsp;{{dolg.kriticnost}}
          </div>
          <div *ngIf="dolg.status=='odprt' || dolg.status=='open'">
            <mat-icon>folder_open</mat-icon>&nbsp;<b i18n>Status:</b>&nbsp;{{dolg.status}}
          </div>
          <div *ngIf="dolg.status=='v delu' || dolg.status=='in progress'">
            <mat-icon>build</mat-icon>&nbsp;<b i18n>Status:</b>&nbsp;{{dolg.status}}
          </div>
          <div *ngIf="dolg.status=='ponovno odprt' || dolg.status=='reopen'">
            <mat-icon>restore</mat-icon>&nbsp;<b i18n>Status:</b>&nbsp;{{dolg.status}}
          </div>
          <div *ngIf="dolg.status=='rešeno' || dolg.status=='solved'">
            <mat-icon>done</mat-icon>&nbsp;<b i18n>Status:</b>&nbsp;{{dolg.status}}
          </div>
          <div *ngIf="dolg.status=='zaključeno' || dolg.status=='done'">
            <mat-icon>done_all</mat-icon>&nbsp;<b i18n>Status:</b>&nbsp;{{dolg.status}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div>
    <div class="flex-container-horizontal-edit-delete">
      <div><app-dolg-uredi></app-dolg-uredi></div>
      <div><a mat-raised-button color="warn" i18n-matTooltip matTooltip="Izbriši dolg" matTooltipPosition="below"
              (click)="deleteDolg(dolg._id)">
        <mat-icon>delete</mat-icon>
      </a></div>
    </div>
  </div>
</div>
