<div *ngIf="vloga == 'admin'" class="gumb_ustvari_projekt"><button mat-fab i18n-matTooltip matTooltip="Dodaj nov projekt" matTooltipPosition="right" (click)="openDialog()"><mat-icon>playlist_add</mat-icon></button></div>

