<div class="topnav mat-elevation-z10">
  <img class="mala_slika" src="./assets/logo/logo_transparent_150_150.png"/>
  <a class="ime" i18n>Tehničen dolg</a>
  <div class="desno_slika_profila" *ngIf="auth.isAuthenticated()">
    <app-slika-profil></app-slika-profil>
  </div>
  <button mat-raised-button
    class="desno-gumb"
    *ngIf="!auth.isAuthenticated()"
    (click)="auth.login()">
    <mat-icon>account_circle</mat-icon>
    <span i18n>Vpis</span>
  </button>
  <button mat-raised-button
    class="desno-gumb"
    *ngIf="auth.isAuthenticated()"
    (click)="auth.logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span i18n>Izpis</span>
  </button>
</div>

<div class="welcome" *ngIf="!auth.isAuthenticated()">
  <router-outlet name="domov"></router-outlet>
</div>
<div *ngIf="auth.isAuthenticated()">
  <div class="sidebar mat-elevation-z8">
    <app-projekt-ustvari ></app-projekt-ustvari>
    <app-profil></app-profil>
  </div>
  <div class="levo_seznam_projektov mat-elevation-z5">
    <router-outlet></router-outlet>
  </div>
  <div class="desno_seznam_dolgov">
    <router-outlet name="dolg"></router-outlet>
  </div>
</div>


