.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.dolgovi-cards {
  display: flex;
  flex-direction: column;
  height: 60%;
  max-width: 100%;
  overflow: auto;
  margin: 1%;
}

.dolgovi-card {
  height: 95%;
  width: 95%;
}

.graf {
  right: 0%;
  bottom: 0%;
}

.mat_list_sredina {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 50px 0;
}

mat-spinner {
  margin: auto;
  width: 50%;
  top: 30px;
}

.flex-container-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: #ffffff;
}

.flex-container-vertical > div {
  background-color: #ffffff;
  margin: 2px;
  line-height: 26px;
  font-size: 14px;
}

.flex-container-horizontal {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: #ffffff;
  justify-content: space-between;
}

.flex-container-horizontal > div {
  background-color: #ffffff;
  font-size: 14px;
}
