<mat-toolbar color="accent">
  <span i18n>Dolgovi izbranega projekta</span>
  <span class="example-fill-remaining-space"></span>
  <span><app-dolg-ustvari></app-dolg-ustvari></span>
</mat-toolbar>
<div class="dolgovi-cards">
  <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color"
    >
      <div class="dolgovi-card mat-elevation-z5">
        <mat-toolbar class="mat-elevation-z5">
          <span style="overflow: hidden;
                   text-overflow: ellipsis;
                   white-space: nowrap;">{{tile.naziv}}</span>
          <span class="example-fill-remaining-space"></span>
          <span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
          </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['/',{ outlets: { dolg: ['dolg-podrobnosti', tile.id_dolga] } }]">
              <mat-icon>more</mat-icon>
             <span i18n>Podrobnosti</span>
             </button>
            </mat-menu>
          </span>
        </mat-toolbar>
        <div class="flex-container-vertical"
             i18n-matTooltip matTooltip="Pritisni za ogled podrobnosti" matTooltipPosition="above"
             [routerLink]="['/',{ outlets: { dolg: ['dolg-podrobnosti', tile.id_dolga] } }]">
          <div *ngIf="tile.vzrok != null" style="color: dimgrey;"><b i18n>Vzrok:</b>&nbsp;{{tile.vzrok}}</div>
          <div *ngIf="tile.tip == null">&nbsp;</div>
          <div *ngIf="tile.tip != null" style="color: dimgrey;overflow: hidden;
                   text-overflow: ellipsis;
                   white-space: nowrap;"><b i18n>Tip:</b>&nbsp;{{tile.tip}}
          </div>
          <div *ngIf="tile.podtip != null" style="font-size: 13px;
                                                  color: darkgrey;
                                                  overflow: hidden;
                                                  text-overflow: ellipsis;
                                                  white-space: nowrap;">
            <b i18n>Podtip:</b>&nbsp;{{tile.podtip}}
          </div>
          <div>
            <div class="flex-container-horizontal">
              <div style="overflow: hidden;
                   text-overflow: ellipsis;
                   white-space: nowrap; color: dimgrey">
                <mat-icon>date_range</mat-icon>
                {{tile.datum | date}}
              </div>
              <div *ngIf="tile.status=='odprt' || tile.status=='open'" style="overflow: hidden;
                   text-overflow: ellipsis;
                   white-space: nowrap; color: dimgrey">
                <mat-icon>folder_open</mat-icon>&nbsp;<b i18n>Status:</b>&nbsp;{{tile.status}}
              </div>
              <div *ngIf="tile.status=='v delu' || tile.status=='in progress'" style="overflow: hidden;
                   text-overflow: ellipsis;
                   white-space: nowrap; color: dimgrey">
                <mat-icon>build</mat-icon>&nbsp;<b i18n>Status:</b>&nbsp;{{tile.status}}
              </div>
              <div *ngIf="tile.status=='ponovno odprt' || tile.status=='reopen'" style="overflow: hidden;
                   text-overflow: ellipsis;
                   white-space: nowrap; color: dimgrey">
                <mat-icon>restore</mat-icon>&nbsp;<b i18n>Status:</b>&nbsp;{{tile.status}}
              </div>
              <div *ngIf="tile.status=='rešeno' || tile.status=='solved'" style="overflow: hidden;
                   text-overflow: ellipsis;
                   white-space: nowrap; color: dimgrey">
                <mat-icon>done</mat-icon>&nbsp;<b i18n>Status:</b>&nbsp;{{tile.status}}
              </div>
              <div *ngIf="tile.status=='zaključeno' || tile.status=='done'" style="overflow: hidden;
                   text-overflow: ellipsis;
                   white-space: nowrap; color: dimgrey">
                <mat-icon>done_all</mat-icon>&nbsp;<b i18n>Status:</b>&nbsp;{{tile.status}}
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div>
            <div class="flex-container-horizontal">
              <div style="overflow: hidden;
                   text-overflow: ellipsis;
                   white-space: nowrap;
                   color: dimgrey">
                <b>&nbsp;{{tip_ocene}}:</b>&nbsp;{{tile.ocena}}
              </div>
              <div *ngIf="tile.kriticnost == 'blokada' || tile.kriticnost == 'blocker'" matBadge="!" matBadgeSize="medium"
                   matBadgePosition="before" matBadgeColor="warn"
                   style="color: dimgrey">
                <b i18n>&nbsp;Kritičnost:</b>&nbsp;{{tile.kriticnost}}
              </div>
              <div *ngIf="tile.kriticnost != 'blokada' && tile.kriticnost != 'blocker'" style="color: dimgrey">
                <b i18n>Kritičnost:</b>&nbsp;{{tile.kriticnost}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<mat-divider></mat-divider>
<div *ngIf="loadCompleted == false" class="graf">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="loadCompleted" class="graf">
  <google-chart [data]="lineChartData"></google-chart>
</div>

