<div class="example-container mat-elevation-z8">
  <mat-toolbar color="accent">
    <span i18n>Dolgovi</span>
  </mat-toolbar>
  <table mat-table #table matSort [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Title Column -->
    <ng-container matColumnDef="naziv">
      <th mat-header-cell *matHeaderCellDef i18n>Naziv</th>
      <td mat-cell *matCellDef="let element" class="naziv-col"> {{element.naziv}}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="datum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n> Datum nastanka</th>
      <td mat-cell *matCellDef="let element"> {{element.datum | date}}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="kriticnost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Kritičnost</th>
      <td mat-cell *matCellDef="let element"> {{element.kriticnost }}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>Status</th>
      <td mat-cell *matCellDef="let element"> {{element.status }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row i18n-matTooltip matTooltip="Pritisni za ogled dolga" matTooltipPosition="before" *matRowDef="let row; columns: displayedColumns;"
        [routerLink]="['/',{ outlets: { dolg: ['dolg-podrobnosti', row._id] } }]"></tr>
  </table>
</div>
