body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  background-color: #e8e8e8;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.levo_seznam_projektov{
  z-index: 0;
  position: absolute;
  top: 60px;
  left: 6%;
  bottom: 0%;
  width: 30%;
  background-color: #fff;
}

.desno_seznam_dolgov{
  z-index: -3;
  position: absolute;
  right: 0%;
  bottom: 0%;
  top: 60px;
  width: 64%;
  background-color: #fff;
}

.sidebar {
  z-index: 1;
  position: absolute;
  left: 0%;
  bottom: 0%;
  top: 60px;
  width: 6%;
  background-color: #e8e8e8;
}







