.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 90%;
}

.example-full-width {
  width: 90%;
}

.example-full-width:nth-last-child(1) {
  margin-bottom: 10px;
}

.button-row {
  margin: 2%;
}

.skrito{
  display: none;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

